In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/iris.csv')

In [3]:
df

     Unnamed: 0  sepal length  sepal width  petal length  petal width  species
0             0           5.1          3.5           1.4          0.2        0
1             1           4.9          3.0           1.4          0.2        0
2             2           4.7          3.2           1.3          0.2        0
3             3           4.6          3.1           1.5          0.2        0
4             4           5.0          3.6           1.4          0.2        0
..          ...           ...          ...           ...          ...      ...
145         145           6.7          3.0           5.2          2.3        2
146         146           6.3          2.5           5.0          1.9        2
147         147           6.5          3.0           5.2          2.0        2
148         148           6.2          3.4           5.4          2.3        2
149         149           5.9          3.0           5.1          1.8        2

[150 rows x 6 columns]

In [5]:
%%timeit
df.apply('mean')

204 µs ± 21 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [6]:
%%timeit
df.mean(axis=0)

140 µs ± 1.37 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [7]:
%%timeit
df.describe().loc['mean']

12.7 ms ± 826 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
%%timeit
df.apply(np.mean)

977 µs ± 47.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [11]:
%%timeit
np.mean(df.values)

66.6 µs ± 3.99 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)